{% load static %}

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
    <script src="{% static 'myApp/sse_script.js' %}"></script>
</head>

<body>
    <h1> Here is where the plane is: </h1>
    <div id="data-container"></div>
</body>

</html>  -->


<!--
<!DOCTYPE html>
<html>

<head>
    <title>Map View</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>
<body>
<div id="map" style="height: 400px;"></div>
    <script src="{% static 'myApp/static/sse_script.js' %}"></script>

</body>    
</html> -->

<!-- location_template.html -->

<!DOCTYPE html>
<html>

<head>
    <title>Drone Location</title>
</head>

<body>
    <h1>Drone Location</h1>
    <p>The drone's current location is:</p>
    <p>Latitude: {{ latitude }}</p>
    <p>Longitude: {{ longitude }}</p>
</body>

</html>